<h2>About Me</h2>
<div class="aboutme-text">
<p>Angela Espehana</p>

<p>F.Late 20s.Works @students' homes. Former Geography teacher. </p>

<p>
I've been to the far end of the world </br>
and back (virtually); </br>
Scripting in basic Java and </br>
crossing the vast sea-sharp within ASP.Net</br>


Now I'm preparing to jump fields </br>
into the unpredictable realm of software development. 


</p>

<p class="video-caption">
For your Enjoyment</br>
(since you've said you prefer cat videos; but I'm including dogs as well)</p>
<iframe class='video-frame' width="560" height="315" align="center" src="https://www.youtube.com/embed/95ImXirddgU?wmode=opaque" frameborder="0" allowfullscreen></iframe>
</div>