<h2>Contact</h2>

<p class="email">Email address: <a href="mailto:angela.espehana@gmail.com">angela.espehana@gmail.com</a></p>
<p class="gitlink">GitHub page: <a href="https://github.com/orangesmash">orangesmash's Profile</a></p>